@import 'tailwindcss';

@theme {
  --color-primary: #ffffff;
  --color-secondary: #ebeff2;
  --color-tertiary: #0e0d12;
  --color-gray: #a7abb5;
  --color-green: #62c087;
  --color-green-light: #d8f9e0;
  --animate-slideUp: slideUp 3s ease-in-out;

  @keyframes slideUp {
    0% {
      transform: translateY(8px);
      opacity: 0;
    }
    30%,
    60% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-8px);
      opacity: 0;
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}
span,
p {
  font-size: 1rem;
  line-height: 1.2;
}
